Repository PyeonHaeng/PyeonHaeng-iOS, pull requests merged in 2024-03, with the labels that each got.

#63 💄 ProductSearchView 텍스트 필드 NavigationBar에 추가
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/ProductSearchView.swift
Labels: 🔍 Search

#66 버전 정보 표시
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/SettingsView.swift
Labels: ⚙️ Settings, 🔨 Implementation

#68 편의점 선택 시 편의점 로고로 변경
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductDetailSelectionView.swift
Labels: 🔧 Enhancement, 🏠 Home

#65 네비게이션 바 UI 전역적 뒤로가기 버튼, 타이틀 변경
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/PyeonHaengApp.swift
  Shared/Sources/DesignSystem/Sources/Extensions/Image+Resource.swift
Labels: 🔨 Implementation

#71 SearchView UI 목디자인 구성
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchListCardView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchView.swift
Labels: 🔍 Search

#75 제품 개수 API 연결 / home 화면 tint 설정
  APIService/Sources/HomeAPI/Requests/ProductCountRequest.swift
  APIService/Sources/HomeAPISupport/HomeURLProtocol.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductSorterView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🔧 Enhancement, 🏠 Home

#76 SearchAPI 서비스 및 테스트 네트워크 코드 추가
  APIService/Package.swift
  APIService/Sources/SearchAPI/Requests/SearchProductRequest.swift
  APIService/Sources/SearchAPI/Responses/SearchProductResponse.swift
  APIService/Sources/SearchAPI/SearchEndPoint.swift
  APIService/Sources/SearchAPI/SearchService.swift
  APIService/Sources/SearchAPISupport/Mocks/SearchProductResponse.json
  APIService/Sources/SearchAPISupport/SearchURLProtocol.swift
  Entity/Sources/Entity/SearchProduct.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
Labels: 🛜 Network, 🔍 Search

#73 프로모션 선택 시 바텀시트 표시 / 툴바 아이콘 색상 수정 / 다크모드 연동
  Entity/Sources/Entity/Promotion.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/PyeonHaengApp.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/BottomSheet/ConvenienceSelectBottomSheetView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/BottomSheet/PromotionSelectBottomSheetView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductDetailSelectionView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/ViewModel/HomeViewModel.swift
Labels: 🏠 Home, 🔨 Implementation

#78 SearchViewModel 구현 및 연관된 기능 구현
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchViewComponent.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchViewModel.swift
  Shared/Sources/DesignSystem/Sources/Extensions/Image+Resource.swift
Labels: 🛜 Network, 🔍 Search

#80 프로모션 눌렀을 때 UI 변경 / `+` 인코딩 이슈 해결 / DesignSystem의 primary 색상명 변경
  Core/Sources/Network/NetworkProvider.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductDetailSelectionView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductSorterView.swift
  Shared/Sources/DesignSystem/Sources/Extensions/ShapeStyle+Color.swift
Labels: 🏠 Home, 🔨 Implementation

#82 SearchView UI 구현 및 데이터 바인딩
  APIService/Sources/SearchAPISupport/Mocks/SearchProductResponse.json
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchListCardView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchViewModel.swift
Labels: 🔍 Search

#88 설정 화면 - 공지 화면 구현
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/NoticeView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/SettingsView.swift
Labels: ⚙️ Settings, 🔨 Implementation

#86 다운샘플링과 캐싱을 지원하는 `CachedAsyncImage` 구현
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchListCardView.swift
  Shared/Sources/DesignSystem/Components/Images/CachedAsyncImage.swift
Labels: 🔨 Implementation

#93 세부 공지사항 UI 구현
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/NoticeDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/NoticeView.swift
Labels: ⚙️ Settings, 🔨 Implementation

#94 SearchView, 검색 실패 UI 및 코드 구조화, 버그 수정
  APIService/Sources/SearchAPISupport/Mocks/SearchProductResponse.json
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchListCardView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchViewModel.swift
Labels: 🛜 Network, 🔍 Search

#96 이메일 보내기 기능
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Mail/DeviceProvider.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Mail/MailRowItem.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Mail/MailSheetView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/SettingsView.swift
  PyeonHaeng-iOSTests/DeviceInformationProviderTests.swift
  PyeonHaeng-iOSTests/Mocks/MockDeviceInformationProvider.swift
  PyeonHaeng-iOSTests/ProductConfigurationTests.swift
Labels: 🔧 Enhancement, ⚙️ Settings

#99 공지 API, 공지 상세 API 기능과 Mock 추가
  APIService/Package.swift
  APIService/Sources/NoticeAPI/NoticeDetailService.swift
  APIService/Sources/NoticeAPI/NoticeEndPoint.swift
  APIService/Sources/NoticeAPI/NoticeService.swift
  APIService/Sources/NoticeAPI/Requests/NoticeListRequest.swift
  APIService/Sources/NoticeAPI/Responses/NoticeResponse.swift
  APIService/Sources/NoticeAPISupport/Mocks/NoticeDetailResponse.json
  APIService/Sources/NoticeAPISupport/Mocks/NoticeListResponse.json
  APIService/Sources/NoticeAPISupport/NoticeURLProtocol.swift
  Entity/Sources/Entity/Common/ConvenienceStore.swift
  Entity/Sources/Entity/Common/Order.swift
  Entity/Sources/Entity/Common/Pagination/Paginatable.swift
  Entity/Sources/Entity/Common/Pagination/Paginated.swift
  Entity/Sources/Entity/Common/Promotion.swift
  Entity/Sources/Entity/Notice/Notice.swift
  Entity/Sources/Entity/Notice/NoticeDetail.swift
  Entity/Sources/Entity/Product/DetailProduct.swift
  Entity/Sources/Entity/Product/Product.swift
  Entity/Sources/Entity/Product/ProductPrice.swift
  Entity/Sources/Entity/Search/SearchProduct.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
Labels: ⚙️ Settings, 🔨 Implementation

#100 검색, 제품 상세 정보 실제 데이터로 API 연동
  APIService/Sources/ProductInfoAPI/ProductInfoService.swift
  APIService/Sources/ProductInfoAPI/Responses/ProductDetailPricesResponse.swift
  APIService/Sources/ProductInfoAPI/Responses/ProductDetailResponse.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDependency.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchViewModel.swift
Labels: 🛜 Network, 🏪 Products, 🔍 Search

#102 SplashView 구현
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/SplashScene/SplashView.swift
  Shared/Sources/DesignSystem/Resources/Images.xcassets/splash.logo.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/splash.logo.imageset/SplashLogo.svg
  Shared/Sources/DesignSystem/Sources/Extensions/Image+Resource.swift
Labels: 🚀 Onboarding

#107 홈 화면 디자인 변경에 따른 Home UI 수정
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
Labels: 🏠 Home

#104 온보딩 화면 구현
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Contents.json
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Onboarding01.imageset/Onboarding02 1.png
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Onboarding02.imageset/Onboarding01 1.png
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/AppRootComponent.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/OnboardingScene/OnboardingPage.swift
  PyeonHaeng-iOS/Sources/Scenes/OnboardingScene/OnboardingView.swift
  PyeonHaeng-iOS/Sources/Scenes/OnboardingScene/OnboardingViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/SplashScene/SplashView.swift
  Shared/Sources/DesignSystem/Resources/Images.xcassets/onboarding_1.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/onboarding_1.imageset/onboarding_1.svg
  Shared/Sources/DesignSystem/Resources/Images.xcassets/onboarding_2.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/onboarding_2.imageset/onboarding_2.svg
  Shared/Sources/DesignSystem/Sources/Extensions/Image+Resource.swift
Labels: 🚀 Onboarding

#105 공지 API 연결 / DIContainer 추가
  APIService/Sources/NoticeAPI/NoticeService.swift
  APIService/Sources/NoticeAPISupport/Mocks/NoticeListResponse.json
  Entity/Sources/Entity/Notice/Notice.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS.xcodeproj/xcshareddata/xcschemes/PyeonHaeng-iOS.xcscheme
  PyeonHaeng-iOS/Sources/DIContainer.swift
  PyeonHaeng-iOS/Sources/PyeonHaengApp.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/View/NoticeDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/View/NoticeView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/ViewModel/NoticeConfiguration.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/ViewModel/NoticeViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/SettingsView.swift
  PyeonHaeng-iOS/Sources/Scenes/SplashScene/SplashView.swift
  PyeonHaeng-iOS/Sources/Services.swift
Labels: ⚙️ Settings

#109 Staging Configuration 추가 / Network에 Log 추가 / Home 화면 버그 수정 ✍️
  Core/Package.swift
  Core/Sources/Network/NetworkProvider.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/ViewModel/HomeViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/ViewModel/ProductConfiguration.swift
  Shared/Sources/Log/Log.swift
Labels: 🔧 Enhancement, 🛜 Network

#112 검색 화면 텍스트 필드 UI 수정 및 Services 프로퍼티 추가
  APIService/Sources/ProductInfoAPI/ProductInfoService.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDependency.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchViewComponent.swift
  PyeonHaeng-iOS/Sources/Services.swift
Labels: 🔨 Implementation, 🔍 Search

#114 홈 화면에서 디테일 화면으로 이동 / http 이미지 로드 지원
  PyeonHaeng-iOS/Resources/Info.plist
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
Labels: 🔧 Enhancement, 🏠 Home, 🔨 Implementation

#116 검색 화면 데이터 페이지 사이징 버그
  APIService/Sources/SearchAPI/Requests/SearchProductRequest.swift
  APIService/Sources/SearchAPISupport/SearchURLProtocol.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchViewModel.swift
Labels: 🐞 Bug, 🔍 Search

#120 미비된 UI 수정(검색 시 제품 리스트 화면을 홈과 맞춤 / 제품 가격 이력 확인 시 햅틱 피드백 제공 / etc)
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchListCardView.swift
Labels: 🔧 Enhancement, ♻️ Refactoring, 🏠 Home, 🔍 Search

#121 편행 리뷰 남기기 버튼 클릭 시 이동하는 기능 추가
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/LeaveReview/LeaveReviewView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Mail/MailRowItem.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/SettingsView.swift
Labels: ⚙️ Settings, 🔨 Implementation

#125 검색 화면 네비게이션 백 스와이프 활성화 및 미비된 UI 수정
  APIService/Sources/ProductInfoAPI/Responses/ProductDetailResponse.swift
  PyeonHaeng-iOS.xcodeproj/xcshareddata/xcschemes/PyeonHaeng-iOS.xcscheme
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductSearchScene/SearchView.swift
Labels: 🏪 Products, 🔨 Implementation, 🔍 Search

#123 설정 화면 중 만든사람들 보여주는 화면 구현
  APIService/Package.swift
  APIService/Sources/CreditsAPI/CreditsEndPoint.swift
  APIService/Sources/CreditsAPI/CreditsService.swift
  APIService/Sources/CreditsAPI/Responses/CreditsResponse.swift
  APIService/Sources/CreditsAPISupport/CreditsURLProtocol.swift
  APIService/Sources/CreditsAPISupport/Mocks/CreditsResponse.json
  Entity/Sources/Entity/Credits/Credits.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Credits/CreditsView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/View/NoticeView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/SettingsView.swift
  PyeonHaeng-iOS/Sources/Services.swift
  Shared/Sources/DesignSystem/Components/Images/MarkdownView.swift
Labels: 🔧 Enhancement, ⚙️ Settings, 🔨 Implementation

#126 토스트 디자인 구현
  DesignSystemApp/Assets.xcassets/AccentColor.colorset/Contents.json
  DesignSystemApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  DesignSystemApp/Assets.xcassets/Contents.json
  DesignSystemApp/ContentView.swift
  DesignSystemApp/DesignSystemApp.swift
  DesignSystemApp/Preview Content/Preview Assets.xcassets/Contents.json
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  Shared/Sources/DesignSystem/Components/Toast/Toast.swift
  Shared/Sources/DesignSystem/Components/Toast/ToastItem.swift
  Shared/Sources/DesignSystem/Components/Toast/View/RootView.swift
  Shared/Sources/DesignSystem/Components/Toast/View/ToastGroup.swift
  Shared/Sources/DesignSystem/Components/Toast/View/ToastView.swift
Labels: 🔨 Implementation

#128 공지사항 디테일 뷰 연결
  APIService/Sources/NoticeAPI/NoticeService.swift
  APIService/Sources/NoticeAPISupport/Mocks/NoticeDetailResponse.json
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/View/NoticeDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/View/NoticeView.swift
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/Notice/ViewModel/NoticeDetailViewModel.swift
  Shared/Sources/DesignSystem/Components/Images/MarkdownView.swift
Labels: 🔧 Enhancement, ⚙️ Settings

#134 svg 파일이 png로 보이는 버그 수정
  .github/workflows/ios.yaml
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductDetailSelectionView.swift
  Shared/Sources/DesignSystem/Resources/Images.xcassets/BrandImage/7-Eleven.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/BrandImage/CU.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/BrandImage/Emart24.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/BrandImage/GS25.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/BrandImage/Ministop.imageset/Contents.json
Labels: 🐞 Bug, 🏠 Home

#132 상품 상세 페이지 UI 버그 수정
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
Labels: 🐞 Bug, 🏪 Products

#140 홈 화면 아이콘 변경
  PyeonHaeng-iOS.xcodeproj/xcshareddata/xcschemes/DesignSystemApp.xcscheme
  Shared/Sources/DesignSystem/Resources/Images.xcassets/store.fill.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/store.fill.imageset/store.fill.svg
  Shared/Sources/DesignSystem/Resources/Images.xcassets/store.imageset/store.svg
  Shared/Sources/DesignSystem/Sources/Extensions/Image+Resource.swift
Labels: 🔧 Enhancement, 🏠 Home
