Repository PyeonHaeng/PyeonHaeng-iOS, pull requests merged in 2024-02, with the labels that each got.

#33 상품 개수 API 연결
  APIService/Package.swift
  APIService/Sources/HomeAPI/HomeEndPoint.swift
  APIService/Sources/HomeAPI/HomeService.swift
  APIService/Sources/HomeAPI/Requests/ProductCountRequest.swift
  APIService/Sources/HomeAPI/Requests/ProductRequest.swift
  APIService/Sources/HomeAPI/Responses/ProductCountResponse.swift
  APIService/Sources/HomeAPI/Responses/ProductResponse.swift
  APIService/Sources/HomeAPISupport/HomeURLProtocol.swift
  APIService/Sources/HomeAPISupport/Mocks/HomeProductCountResponse.json
  APIService/Sources/HomeAPISupport/Mocks/HomeProductResponse.json
  Core/Sources/Network/NetworkProvider.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeProductSorterView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeViewModel.swift
Labels: 🏠 Home, 🔨 Implementation

#35 [Home] 아이콘 수정 및 검색 화면으로 라우팅 추가
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeProductDetailSelectionView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeProductSorterView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeView.swift
Labels: 🏠 Home

#28 💄 이전 행사 정보 LineGraph UI 구현
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
Labels: 🏪 Products

#38 이전 행사 정보 UI를 구성한다.
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoHeader.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoView.swift
Labels: 🏪 Products

#41 [Home] 정렬 버튼 누를 때마다 모드 변경 및 접근성 추가, HomeViewModel 추상화
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeProductSorterView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/SplashScene/SplashView.swift
Labels: ♻️ Refactoring, 🏠 Home, 🔨 Implementation

#13 Onboarding 페이지 UI구현
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Contents.json
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Onboarding01.imageset/Contents.json
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Onboarding01.imageset/Onboarding02 1.png
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Onboarding02.imageset/Contents.json
  PyeonHaeng-iOS/Resources/Assets.xcassets/OnboardingImage/Onboarding02.imageset/Onboarding01 1.png
  PyeonHaeng-iOS/Sources/Scenes/OnboardingScene/OnboardingPage.swift
  PyeonHaeng-iOS/Sources/Scenes/OnboardingScene/OnboardingPageControl.swift
  PyeonHaeng-iOS/Sources/Scenes/OnboardingScene/OnboardingView.swift
  PyeonHaeng-iOS/Sources/Scenes/OnboardingScene/OnboardingViewModel.swift
Labels: 🚀 Onboarding

#46 [ProductInfo] 테스트 네트워킹 작업
  APIService/.swiftpm/xcode/xcshareddata/xcschemes/ProductInfoAPI.xcscheme
  APIService/Sources/ProductInfoAPI/ProductInfoService.swift
  APIService/Sources/ProductInfoAPI/Responses/ProductDetailResponse.swift
  APIService/Sources/ProductInfoAPI/Responses/ProductPriceResponse.swift
  APIService/Sources/ProductInfoAPISupport/Mocks/ProductInfoPriceResponse.json
  APIService/Sources/ProductInfoAPISupport/Mocks/ProductInfoProductResponse.json
  APIService/Sources/ProductInfoAPISupport/Mocks/ProductPriceResponse.json
  APIService/Sources/ProductInfoAPISupport/ProductInfoURLProtocol.swift
  Entity/Sources/Entity/ConvenienceStore.swift
  Entity/Sources/Entity/ProductDetail.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDependency.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoHeader.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoViewModel.swift
Labels: 🛜 Network, 🏪 Products

#51 Pagination API 추가로 인한 모델 변경 / Convenience Store rawValue 변경
  APIService/Sources/HomeAPI/HomeService.swift
  APIService/Sources/HomeAPI/Responses/ProductResponse.swift
  APIService/Sources/HomeAPISupport/Mocks/HomeProductResponse.json
  Entity/Sources/Entity/Common/Paginatable.swift
  Entity/Sources/Entity/Common/Paginated.swift
  Entity/Sources/Entity/ConvenienceStore.swift
  PyeonHaeng-iOS/Sources/AppRootComponent.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeViewModel.swift
Labels: 🔧 Enhancement, 🛜 Network

#49 편의점 바텀시트 구현
  Entity/Sources/Entity/ConvenienceStore.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/BottomSheet/ConvenienceSelectBottomSheetView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeProductDetailSelectionView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeViewModel.swift
Labels: 🏠 Home, 🔨 Implementation

#53 ProductInfo 데이터🔄뷰 바인딩
  APIService/Sources/ProductInfoAPI/ProductInfoService.swift
  APIService/Sources/ProductInfoAPI/Responses/ProductDetailResponse.swift
  APIService/Sources/ProductInfoAPISupport/Mocks/ProductInfoPriceResponse.json
  APIService/Sources/ProductInfoAPISupport/Mocks/ProductInfoProductResponse.json
  Entity/Sources/Entity/DetailProduct.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoDetailView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoLineGraphView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoView.swift
  PyeonHaeng-iOS/Sources/Scenes/ProductInfoScene/ProductInfoViewModel.swift
Labels: 🏪 Products, 🔨 Implementation

#56 설정 화면 기본 UI 구현
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
  PyeonHaeng-iOS/Sources/Scenes/SettingsScene/SettingsView.swift
  Shared/Sources/DesignSystem/Resources/Images.xcassets/notepencil.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/notepencil.imageset/notepencil.svg
  Shared/Sources/DesignSystem/Sources/Extensions/Image+Resource.swift
Labels: ⚙️ Settings, 🔨 Implementation

#58 OnboardingView의 Localization
  PyeonHaeng-iOS/Resources/Localizable.xcstrings
Labels: 🚀 Onboarding

#59 무한 스크롤 구현 및 HomeViewModel 리팩토링
  APIService/Sources/HomeAPI/Requests/ProductRequest.swift
  APIService/Sources/HomeAPI/Responses/ProductResponse.swift
  APIService/Sources/HomeAPISupport/Mocks/HomeProductResponse.json
  Entity/Sources/Entity/Product.swift
  PyeonHaeng-iOS.xcodeproj/project.pbxproj
  PyeonHaeng-iOS/Sources/Components/PromotionTagView.swift
  PyeonHaeng-iOS/Sources/Extensions/Int+.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/HomeViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductDetailSelectionView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductSorterView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/ViewModel/HomeViewModel.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/ViewModel/ProductConfiguration.swift
  PyeonHaeng-iOSTests/Mocks/MockPaginatable.swift
  PyeonHaeng-iOSTests/PyeonHaeng_iOSTests.swift
  Shared/Sources/DesignSystem/Resources/Images.xcassets/text.logo.imageset/Contents.json
  Shared/Sources/DesignSystem/Resources/Images.xcassets/text.logo.imageset/text.logo.svg
  Shared/Sources/DesignSystem/Sources/Extensions/Image+Resource.swift
Labels: 🏠 Home, 🔨 Implementation

#61 제품 리스트가 스크롤 될 때 흐릿하게 보이도록 UI 구성
  PyeonHaeng-iOS/Sources/PyeonHaengApp.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeProductListView.swift
  PyeonHaeng-iOS/Sources/Scenes/HomeScene/View/HomeView.swift
Labels: 🔧 Enhancement, 🏠 Home
